@import "textstyle";
@import "headinghighlight";
@import "firasans-medium";

body {
    display: grid;
    grid-template-areas: 
    "main-nav"
    "nav-bar"
    "skills" 
    "projects" 
    "blog" 
    "contact"
}

html {
    scroll-behavior: smooth;
}

#main-nav {
    grid-area: main-nav;
    grid-template-rows: auto;
    background-color:#F0F8FF;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    
    img {
        height:200px;
        width:200px;
        border-radius: 50%;
        margin-top:50px;    
    }

    #info {
        @include fira-med;
        border: 5px #F5A5A5 solid;
        background-color:white;
        margin: 20px;
        text-align:center;
        padding: 15px;
    }
}

header {
    grid-area:nav-bar; 
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: auto;
        border: 1px solid #e7e7e7;
        background-color: #f3f3f3;
    }
    li {
        float: left;
    }
    li a {
        @include fira-med;
        display: block;
        color: #F5A5A5 ;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover {
        background-color:white;
    }
}

#skills {
    grid-area:skills;
    display: grid;
    padding: 10px;
       
    #logos {
        height:100px;
        display:flex;
        flex-wrap:wrap;
        justify-content: space-around;
        img:hover {
            height:70px;
            width:70px;      
        }
    }
}

h1, h2 {
    @include heading-style();
    @include highlight();   
}

h3, h4 {
    @include heading-style();
}

#projects {
    grid-area: projects;
    display: grid;        
    background-color: #F0F8FF;
    padding: 50px;
    clip-path: polygon(0 0%, 100% 6%, 100% 94%, 0% 100%);

    img {
        height:200px; 
        width:300px;
    }
    .overlay {
        position: absolute;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.5);
        overflow: hidden;
        width: 100%;
        height: 50px;
        transition: .5s ease;
        
    }
    .text {
        @include fira-med;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }


    #item1 {
        position: relative;
        width: auto;
        }
    #item1:hover .overlay {
        height: 100%;
    }
    
    #item2 {
        position: relative;
        width: auto;
    }
    #item2:hover .overlay {
        height: 100%;
    }
    
    #item3 {
        position: relative;
        width: auto;
    }
    #item3:hover .overlay {
        height: 100%;
    }
}

#blog {
    grid-area: blog;
    margin:auto;
    padding-bottom: 50px;
    }

#contact {
    grid-area: contact;
    display:grid;
    background-color: #F0F8FF;
    
    input[type=text] {
        width:100%;
        height: 30px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px #e7e7e7 solid;
        border-radius: 4px;
    }
    
    #enquiries {
        width:100%;
        height: 100px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px #e7e7e7 solid;
        border-radius: 4px;
    }

    input[type=submit] {
        @include fira-med;
        background-color:#f3f3f3;
        color:#f5a5a5;
        padding: 12px 20px;
        border-radius:4px;
        float:right;
    }
    input:hover {
        background-color:white;
    }
}

footer {
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    
    img {
        height:30px;
        width:30px;
        margin:20px 20px;
    }

    img:hover {
        height:40px;
        width:40px; 
    }
}

@media screen and (min-width:768px){ 
    #main-nav {
        #dp {
        height:250px;
        width:240px;        
        } 
    }

    #projects {
        grid-area: projects;
        display: flex;
        flex-wrap:wrap;
        justify-content: center;

        img {
            height:300px;
            width:400px;
        }
    }

    #blog {
        img {
            margin-left: auto;
            margin-right: auto;
            margin-bottom:30px;
        }
    }

    #form-container{
        display:block;
        text-align:center;
    }

    form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    }
}

