body {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "main-nav" "nav-bar" "skills"  "projects"  "blog"  "contact";
}

html {
  scroll-behavior: smooth;
}

#main-nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main-nav;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  background-color: #F0F8FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main-nav .fade {
  -webkit-animation: fadein 4s;
          animation: fadein 4s;
  display: block;
  margin: 25px auto;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#main-nav img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: 50px;
}

#main-nav #info {
  font-family: 'Fira Sans', sans-serif;
  font-size: medium;
  border: 5px #F5A5A5 solid;
  background-color: white;
  margin: 20px;
  text-align: center;
  padding: 15px;
}

header {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav-bar;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

header li {
  float: left;
}

header li a {
  font-family: 'Fira Sans', sans-serif;
  font-size: medium;
  display: block;
  color: #F5A5A5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header li a:hover {
  background-color: white;
}

#skills {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: skills;
  display: -ms-grid;
  display: grid;
  padding: 10px;
}

#skills #logos {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#skills #logos img:hover {
  height: 70px;
  width: 70px;
}

h1, h2 {
  color: #f5a5a5;
  font-family: 'Merriweather', serif;
  font-style: italic;
  text-align: center;
  font-size: 1.5em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, rgba(255, 255, 255, 0)), color-stop(90%, #B9D5DE));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 80%, #B9D5DE 90%);
  display: inline;
}

h3, h4 {
  color: #f5a5a5;
  font-family: 'Merriweather', serif;
  font-style: italic;
  text-align: center;
  font-size: 1.5em;
}

#projects {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: projects;
  display: -ms-grid;
  display: grid;
  background-color: #F0F8FF;
  padding: 50px;
  -webkit-clip-path: polygon(0 0%, 100% 6%, 100% 94%, 0% 100%);
          clip-path: polygon(0 0%, 100% 6%, 100% 94%, 0% 100%);
}

#projects img {
  height: 200px;
  width: 300px;
}

#projects .overlay {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  width: 100%;
  height: 50px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

#projects .text {
  font-family: 'Fira Sans', sans-serif;
  font-size: medium;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

#projects #item1 {
  position: relative;
  width: auto;
}

#projects #item1:hover .overlay {
  height: 100%;
}

#projects #item2 {
  position: relative;
  width: auto;
}

#projects #item2:hover .overlay {
  height: 100%;
}

#projects #item3 {
  position: relative;
  width: auto;
}

#projects #item3:hover .overlay {
  height: 100%;
}

#blog {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: blog;
  margin: auto;
  padding-bottom: 50px;
}

#contact {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: contact;
  display: -ms-grid;
  display: grid;
  background-color: #F0F8FF;
}

#contact input[type=text] {
  width: 100%;
  height: 30px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px #e7e7e7 solid;
  border-radius: 4px;
}

#contact #enquiries {
  width: 100%;
  height: 100px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px #e7e7e7 solid;
  border-radius: 4px;
}

#contact input[type=submit] {
  font-family: 'Fira Sans', sans-serif;
  font-size: medium;
  background-color: #f3f3f3;
  color: #f5a5a5;
  padding: 12px 20px;
  border-radius: 4px;
  float: right;
}

#contact input:hover {
  background-color: white;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer img {
  height: 30px;
  width: 30px;
  margin: 20px 20px;
}

footer img:hover {
  height: 40px;
  width: 40px;
}

@media screen and (min-width: 768px) {
  #main-nav #dp {
    height: 250px;
    width: 240px;
  }
  #projects {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: projects;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #projects img {
    height: 300px;
    width: 400px;
  }
  #blog img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  #form-container {
    display: block;
    text-align: center;
  }
  form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
}
/*# sourceMappingURL=portfolio.css.map */