@import "textstyle";
@import "headinghighlight";
@import "firasans-medium";
@import "form";

// grid divided into 6 grid rows
body {
    display: grid;
    grid-template-areas: 
    "main-nav"
    "nav-bar"
    "skills" 
    "projects" 
    "blog" 
    "contact"
}

// property sets the behaviour for a scrolling box when scrolling is triggered
html {
    scroll-behavior: smooth;
}

#main-nav {
    grid-area: main-nav;
    grid-template-rows: auto;
    background-color:#F0F8FF;
    display:flex;
    align-items: center;
    flex-direction: column;

//display picture image fade-in with a 4s duration
    .fade {
        animation: fadein 4s;
    }
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    img {
        height:200px;
        width:200px;
        border-radius: 50%;
        margin-top:50px;    
    }

    #info {
        @include fira-med;
        border: 5px #F5A5A5 solid;
        background-color:white;
        margin: 20px;
        text-align:center;
        padding: 15px;
        a {
            color:black;
        }
    }
}

header {
    grid-area:nav-bar; 
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: auto;
        border: 1px solid #e7e7e7;
        background-color: #f3f3f3;
    }
    li {
        float: left;
    }
    li a {
        @include fira-med;
        display: block;
        color: #F5A5A5 ;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }
    li a:hover {
        background-color:white;
    }
}
#skills {
    grid-area:skills;
    display: grid;
       
    #logos {
        height:100px;
        display:flex;
        justify-content: space-around;
        img:hover {
            height:70px;
            width:70px;      
        }
    }
}

h1, h2 {
    @include heading-style();
    @include highlight();   
}
h3, h4 {
    @include heading-style();
}
h5 {
    font-size:large;
    font-style:italic;
}

// Polygon clip path begins from top-left corner
// Top-left to top-right corner x-axis is at 100% width of grid container and a 6% incline in Y-axis
// Top-right to bottom-right corner still at X:100% and 96% incline in Y-axis
// Bottom-right to bottom-left corner X-axis and the y-axis is at 100% height of grid container
#projects {
    grid-area: projects;
    display: grid;        
    background-color: #F0F8FF;
    padding: 50px;
    clip-path: polygon(0 0%, 100% 6%, 100% 94%, 0% 100%);

    img {
        height:280px; 
        width:350px;
    }
    //overlay element is positioned relative to the nearest positioned parent(div.items) 
    .overlay {
        position: absolute;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.5);
        overflow: hidden;
        width: 100%;
        height: 50px;
        transition: .5s ease;
        
    }
    .text {
        @include fira-med;
        position: relative;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        a {
            color:black;
            top:100px;
        }
    }

    .item {
        position: relative;
        width: auto;
        &:hover .overlay {
            height: 100%;
        }
    }
}

//external page linked to blog image
#blog {
    grid-area: blog;
    margin:auto;
    padding-bottom: 50px;
    }

#contact {
    grid-area: contact;
    display:grid;
    background-color: #F0F8FF;
    
    input[type=text] {
        height: 30px;
        @include form-style;
    }
    
    #enquiries {
        height: 100px;
        @include form-style;
    }

//Currently submit button has no function
    input[type=submit] {
        @include fira-med;
        background-color:#f3f3f3;
        color:#f5a5a5;
        padding: 12px 20px;
        border-radius:4px;
        float:right;
    }
    input:hover {
        background-color:white;
    }
}

footer {
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    
    img {
        height:30px;
        width:30px;
        margin:20px 20px;
    }

    img:hover {
        height:40px;
        width:40px; 
    }
}

@media screen and (min-width:768px){ 
    #main-nav {
        #dp {
        height:250px;
        width:240px;        
        } 
    }

    #projects {
        grid-area: projects;
        display: flex;
        flex-wrap:wrap;
        justify-content: center;

        img {
            height:300px;
            width:380px;
        }
    }

    #blog {
        img {
            margin-left: auto;
            margin-right: auto;
            margin-bottom:30px;
        }
    }

    #form-container{
        display:block;
        text-align:center;
    }

    form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    }
}

